/* line 9, ../sass/style.scss */
body {
  background-color: #fff;
}
/* line 10, ../sass/style.scss */
body a:hover {
  text-decoration: none;
}
/* line 14, ../sass/style.scss */
body .wrapper_header {
  background-image: url("../images/bg_header.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}
/* line 20, ../sass/style.scss */
body .wrapper_header header .top_line {
  margin-top: 20px;
}
/* line 24, ../sass/style.scss */
body .wrapper_header header .top_line .galery_button img {
  margin-right: 8px;
}
/* line 28, ../sass/style.scss */
body .wrapper_header header .top_line .galery_button {
  margin-top: 30px;
}
/* line 32, ../sass/style.scss */
body .wrapper_header header .top_line .logo {
  max-width: 461px;
  margin: 0 auto;
  display: block;
}
/* line 37, ../sass/style.scss */
body .wrapper_header header .top_line .logo img {
  width: 100%;
}
/* line 42, ../sass/style.scss */
body .wrapper_header header .top_line form {
  margin-top: 40px;
  display: block;
}
/* line 46, ../sass/style.scss */
body .wrapper_header header .top_line form input {
  background-color: transparent;
  height: 30px;
  border: 0;
  border-bottom: 1px solid #fff;
  min-width: 200px;
  color: #fff;
}
/* line 53, ../sass/style.scss */
body .wrapper_header header .top_line form input:-moz-placeholder {
  color: #aec1dc;
}
/* line 56, ../sass/style.scss */
body .wrapper_header header .top_line form input::-webkit-input-placeholder {
  color: #aec1dc;
}
/* line 59, ../sass/style.scss */
body .wrapper_header header .top_line form input:focus {
  outline: none;
}
/* line 63, ../sass/style.scss */
body .wrapper_header header .top_line form button {
  height: 30px;
  border: 0;
  background-color: transparent;
  margin-left: -27px;
}
/* line 72, ../sass/style.scss */
body .wrapper_header header .name_school h1 {
  text-align: center;
  font-family: RobotoBold;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
/* line 80, ../sass/style.scss */
body .wrapper_header header .navbar-default {
  background-color: transparent;
  border: 0;
  height: 35px;
  margin-top: 20px;
}
/* line 85, ../sass/style.scss */
body .wrapper_header header .navbar-default button {
  background-color: transparent;
  margin-top: -42px;
}
/* line 88, ../sass/style.scss */
body .wrapper_header header .navbar-default button:hover {
  background-color: transparent;
}
/* line 91, ../sass/style.scss */
body .wrapper_header header .navbar-default button:focus {
  background-color: transparent;
}
/* line 95, ../sass/style.scss */
body .wrapper_header header .navbar-default .navbar-collapse {
  margin: 0 -15px;
  text-transform: uppercase;
  margin-top: 20px;
}
/* line 99, ../sass/style.scss */
body .wrapper_header header .navbar-default .navbar-collapse .navbar-nav li a {
  padding: 8px 17px;
  font-size: 14px;
  font-family: RobotoMedium;
  color: #fff;
  border-radius: 10px 10px 10px 10px;
  margin-right: 12px;
  z-index: 10;
}
/* line 107, ../sass/style.scss */
body .wrapper_header header .navbar-default .navbar-collapse .navbar-nav li a img {
  margin-right: 10px;
}
/* line 111, ../sass/style.scss */
body .wrapper_header header .navbar-default .navbar-collapse #about {
  background-color: #8dbe22;
}
/* line 113, ../sass/style.scss */
body .wrapper_header header .navbar-default .navbar-collapse #about:hover {
  background-color: #82b809;
}
/* line 117, ../sass/style.scss */
body .wrapper_header header .navbar-default .navbar-collapse #life {
  background-color: #e9bd00;
}
/* line 119, ../sass/style.scss */
body .wrapper_header header .navbar-default .navbar-collapse #life:hover {
  background-color: #e9af00;
}
/* line 123, ../sass/style.scss */
body .wrapper_header header .navbar-default .navbar-collapse #magistr {
  background-color: #f05a2c;
}
/* line 125, ../sass/style.scss */
body .wrapper_header header .navbar-default .navbar-collapse #magistr:hover {
  background-color: #d3481d;
}
/* line 129, ../sass/style.scss */
body .wrapper_header header .navbar-default .navbar-collapse #docs {
  background-color: #1a69be;
}
/* line 131, ../sass/style.scss */
body .wrapper_header header .navbar-default .navbar-collapse #docs:hover {
  background-color: #135eaf;
}
/* line 135, ../sass/style.scss */
body .wrapper_header header .navbar-default .navbar-collapse #book {
  background-color: #ac53d5;
}
/* line 137, ../sass/style.scss */
body .wrapper_header header .navbar-default .navbar-collapse #book:hover {
  background-color: #a248cb;
}
/* line 141, ../sass/style.scss */
body .wrapper_header header .navbar-default .navbar-collapse #parents {
  background-color: #53bbd5;
}
/* line 143, ../sass/style.scss */
body .wrapper_header header .navbar-default .navbar-collapse #parents:hover {
  background-color: #41b1cd;
}
/* line 147, ../sass/style.scss */
body .wrapper_header header .navbar-default .navbar-collapse #mail {
  background-color: #d55393;
  margin-right: 0;
}
/* line 150, ../sass/style.scss */
body .wrapper_header header .navbar-default .navbar-collapse #mail:hover {
  background-color: #c94385;
}
/* line 158, ../sass/style.scss */
body .wrapper_header .owl-carousel {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 164, ../sass/style.scss */
body .wrapper_header .owl-carousel .owl-item img {
  border-radius: 10px 10px 10px 10px;
}
/* line 168, ../sass/style.scss */
body .wrapper_header .owl-carousel .fa-chevron-right {
  position: absolute;
  top: 50%;
  right: 52px;
  color: #fff;
}
/* line 173, ../sass/style.scss */
body .wrapper_header .owl-carousel .fa-chevron-right:hover {
  color: #aeaaa3;
}
/* line 177, ../sass/style.scss */
body .wrapper_header .owl-carousel .fa-chevron-left {
  position: absolute;
  top: 50%;
  left: 30px;
  color: #fff;
}
/* line 182, ../sass/style.scss */
body .wrapper_header .owl-carousel .fa-chevron-left:hover {
  color: #aeaaa3;
}

/* line 189, ../sass/style.scss */
.welcome {
  margin-bottom: 42px;
}
/* line 191, ../sass/style.scss */
.welcome .title {
  color: #76a809;
  font-family: "BookmanOldStyle";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 8px;
}
/* line 201, ../sass/style.scss */
.welcome .text {
  color: #2c2c2c;
  font-family: "RobotoLight";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
/* line 208, ../sass/style.scss */
.welcome .text p {
  padding-bottom: 20px;
}
/* line 212, ../sass/style.scss */
.welcome .item {
  margin: 5px 0;
  text-align: center;
}
/* line 215, ../sass/style.scss */
.welcome .item img {
  padding: 7px;
  border: 0;
  border-radius: 90%;
}
/* line 220, ../sass/style.scss */
.welcome .item img.globus:hover {
  padding: 0;
  border: 7px solid #d55393;
  border-radius: 90%;
}
/* line 225, ../sass/style.scss */
.welcome .item img.biblie:hover {
  padding: 0;
  border: 7px solid #eac214;
  border-radius: 90%;
}
/* line 230, ../sass/style.scss */
.welcome .item img.pallete:hover {
  padding: 0;
  border: 7px solid #2b8715;
  border-radius: 90%;
}
/* line 235, ../sass/style.scss */
.welcome .item img.cherry:hover {
  padding: 0;
  border: 7px solid #1a69be;
  border-radius: 90%;
}
/* line 240, ../sass/style.scss */
.welcome .item img.bus:hover {
  padding: 0;
  border: 7px solid #f05a2c;
  border-radius: 90%;
}
/* line 245, ../sass/style.scss */
.welcome .item .title {
  color: #76a809;
  font-family: RobotoBold;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 16px;
}
/* line 254, ../sass/style.scss */
.welcome .item .text {
  color: #2c2c2c;
  font-family: "RobotoLight";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

/* line 263, ../sass/style.scss */
.groups {
  margin: 39px 0 44px;
}
/* line 265, ../sass/style.scss */
.groups .title {
  color: #76a809;
  font-family: "Bookman Old Style";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 13px;
}
/* line 274, ../sass/style.scss */
.groups .text {
  text-align: center;
  color: #2c2c2c;
  font-family: "Roboto Light";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 40px;
}
/* line 283, ../sass/style.scss */
.groups .item {
  line-height: 24px;
}
/* line 285, ../sass/style.scss */
.groups .item img {
  width: 100%;
}
/* line 288, ../sass/style.scss */
.groups .item .type {
  text-align: center;
  font-family: "RobotoMedium";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 295, ../sass/style.scss */
.groups .item .name {
  text-align: center;
  font-family: RobotoBold;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 302, ../sass/style.scss */
.groups .item .age {
  text-align: center;
  color: #2c2c2c;
  font-family: "RobotoLight";
  font-size: 16px;
  font-weight: 400;
}
/* line 309, ../sass/style.scss */
.groups .item .groupe1 {
  color: #e4a701;
}
/* line 312, ../sass/style.scss */
.groups .item .groupe2 {
  color: #83b419;
}
/* line 315, ../sass/style.scss */
.groups .item .groupe3 {
  color: #d55393;
}
/* line 318, ../sass/style.scss */
.groups .item .groupe4 {
  color: #53bbd5;
}

/* line 324, ../sass/style.scss */
.attension .bg_gray {
  background-color: #f6f6f6;
  line-height: 22px;
}
/* line 328, ../sass/style.scss */
.attension .title {
  color: #53bbd5;
  font-family: "RobotoMedium";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 27px;
  padding-top: 20px;
}
/* line 338, ../sass/style.scss */
.attension .text {
  color: #535353;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  padding-bottom: 19px;
}

/* line 348, ../sass/style.scss */
.photo .title {
  color: #76a809;
  font-family: "BookmanOldStyle";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 29px;
}
/* line 358, ../sass/style.scss */
.photo .item {
  height: 190px;
  width: 265px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 10px;
}
/* line 365, ../sass/style.scss */
.photo .item img {
  border-radius: 10px;
  height: 190px;
  width: 266px;
  transition: height 1s ease;
}
/* line 371, ../sass/style.scss */
.photo .item img:hover {
  transform: scale(1.05);
  border-radius: 28px;
}
/* line 376, ../sass/style.scss */
.photo .owl-nav {
  float: right;
  margin-top: 40px;
}
/* line 380, ../sass/style.scss */
.photo .owl-nav .owl-prev, .photo .owl-nav .owl-next {
  background-color: #e9af00;
  float: right;
  color: #fff;
  border-radius: 90%;
  width: 32px;
  height: 32px;
  display: block;
  position: relative;
}
/* line 389, ../sass/style.scss */
.photo .owl-nav .owl-prev i.fa-chevron-right, .photo .owl-nav .owl-next i.fa-chevron-right {
  position: absolute;
  top: 9px;
  left: 12px;
  font-size: 15px;
}
/* line 395, ../sass/style.scss */
.photo .owl-nav .owl-prev i.fa-chevron-left, .photo .owl-nav .owl-next i.fa-chevron-left {
  position: absolute;
  top: 9px;
  left: 10px;
  font-size: 15px;
}
/* line 403, ../sass/style.scss */
.photo .see_all {
  text-align: center;
  margin-top: 46px;
  margin-bottom: 45px;
}
/* line 407, ../sass/style.scss */
.photo .see_all a {
  color: white;
  font-family: RobotoBold;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #e9bd00;
  padding: 6px 31px;
  border-radius: 5px;
}
/* line 417, ../sass/style.scss */
.photo .see_all a:hover {
  background-color: #e9af00;
}

/* line 423, ../sass/style.scss */
.new_articls .title {
  color: #76a809;
  font-family: "BookmanOldStyle";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 28px;
}
/* line 434, ../sass/style.scss */
.new_articls .article .wrap {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 0 0 10px 10px;
  padding: 5px;
}
/* line 439, ../sass/style.scss */
.new_articls .article:hover .wrap {
  border-radius: 0;
}
/* line 442, ../sass/style.scss */
.new_articls .article:hover .img_wrap {
  height: 182px;
  overflow: hidden;
  transition: all .5s ease;
}
/* line 447, ../sass/style.scss */
.new_articls .article:hover .text {
  opacity: 1;
  transition: all .5s ease;
  border-radius: 0 0 10px 10px;
}
/* line 453, ../sass/style.scss */
.new_articls .article .img_wrap {
  height: 254px;
}
/* line 455, ../sass/style.scss */
.new_articls .article .img_wrap img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}
/* line 460, ../sass/style.scss */
.new_articls .article .title {
  color: #689800;
  font-family: "RobotoMedium";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 17px;
  padding-bottom: 28px;
}
/* line 473, ../sass/style.scss */
.new_articls .article .data {
  color: #b5b5b5;
  font-family: RobotoBold;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  display: inline;
}
/* line 481, ../sass/style.scss */
.new_articls .article .views {
  color: #b5b5b5;
  font-family: RobotoBold;
  font-size: 12px;
  font-weight: 400;
  float: right;
}
/* line 488, ../sass/style.scss */
.new_articls .article .text {
  color: #2c2c2c;
  font-family: "RobotoLight";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 5px;
}
/* line 500, ../sass/style.scss */
.new_articls .show_all_articls {
  text-align: center;
  margin-top: -20px;
}
/* line 503, ../sass/style.scss */
.new_articls .show_all_articls a {
  color: white;
  font-family: RobotoBold;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #e9bd00;
  padding: 7px 42px;
  border-radius: 10px;
}

/* line 515, ../sass/style.scss */
.footer {
  background-image: url("../images/bg_footer.png");
}
/* line 517, ../sass/style.scss */
.footer div[class*="col15-md"] {
  padding: 0;
}
/* line 520, ../sass/style.scss */
.footer ul {
  padding-left: 0;
}
/* line 522, ../sass/style.scss */
.footer ul li {
  list-style-type: none;
}
/* line 524, ../sass/style.scss */
.footer ul li a {
  font-family: RobotoRegular;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #555;
}
/* line 534, ../sass/style.scss */
.footer .wrapp {
  margin-top: 30px;
  background-color: #FFF;
  border-radius: 10px;
  display: block;
  margin-top: 132px;
  padding-top: 21px;
  margin-bottom: 50px;
}
/* line 542, ../sass/style.scss */
.footer .wrapp .logo {
  padding-right: 5px;
  padding-left: 5px;
}
/* line 545, ../sass/style.scss */
.footer .wrapp .logo img {
  width: 100%;
}
/* line 548, ../sass/style.scss */
.footer .wrapp .logo .copy {
  color: #6a6a6a;
  font-family: "RobotoLight";
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
}
/* line 555, ../sass/style.scss */
.footer .wrapp .logo .siteprosto {
  font-size: 11px;
  color: dimgrey;
  font-family: "RobotoLight";
  font-weight: 400;
}
/* line 560, ../sass/style.scss */
.footer .wrapp .logo .siteprosto span {
  color: #6a9a01;
  font-family: RobotoBold;
  font-weight: 700;
}
/* line 568, ../sass/style.scss */
.footer .wrapp .about .title {
  font-family: RobotoRegular;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #72a600;
}
/* line 578, ../sass/style.scss */
.footer .wrapp .subscription .title {
  color: #555;
  font-family: RobotoBold;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
/* line 586, ../sass/style.scss */
.footer .wrapp .subscription .want {
  color: #6b6b6b;
  font-family: "RobotoLight";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
/* line 593, ../sass/style.scss */
.footer .wrapp .subscription form {
  display: block;
}
/* line 597, ../sass/style.scss */
.footer .wrapp .subscription form input {
  background-color: transparent;
  height: 30px;
  border: 0;
  border-bottom: 1px solid #d0d0d0;
  min-width: 170px;
  color: #6b6b6b;
}
/* line 604, ../sass/style.scss */
.footer .wrapp .subscription form input:-moz-placeholder {
  color: #d0d0d0;
  color: #bbb;
  font-family: RobotoBold;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
}
/* line 612, ../sass/style.scss */
.footer .wrapp .subscription form input::-webkit-input-placeholder {
  color: #d0d0d0;
  color: #bbb;
  font-family: RobotoBold;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
}
/* line 620, ../sass/style.scss */
.footer .wrapp .subscription form input:focus {
  outline: none;
}
/* line 624, ../sass/style.scss */
.footer .wrapp .subscription form button {
  height: 30px;
  border: 0;
  background-color: transparent;
  margin-left: -4px;
}
/* line 635, ../sass/style.scss */
.footer .contacts a {
  color: #2c2c2c;
  font-family: "RobotoLight";
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}
/* line 641, ../sass/style.scss */
.footer .contacts a img {
  margin-right: 5px;
}

@media (max-width: 556px) {
  /* line 654, ../sass/style.scss */
  .top_line .logo img {
    width: 90% !important;
  }
}
@media (max-width: 768px) {
  /* line 660, ../sass/style.scss */
  body .wrapper_header header .navbar-default .navbar-collapse {
    margin-top: 12px !important;
    border-top: 0;
    box-shadow: none;
  }
}
@media (max-width: 992px) {
  /* line 668, ../sass/style.scss */
  body .wrapper_header header .top_line .logo img {
    padding-right: 32px;
  }

  /* line 671, ../sass/style.scss */
  body .wrapper_header header .navbar-default button {
    margin-top: -77px;
  }
}
@media (max-width: 1200px) {
  /* line 679, ../sass/style.scss */
  .navbar-default {
    height: 0 !important;
    margin-top: 0 !important;
  }

  /* line 683, ../sass/style.scss */
  .navbar {
    min-height: 0 !important;
  }

  /* line 686, ../sass/style.scss */
  .navbar-header {
    float: none;
  }

  /* line 689, ../sass/style.scss */
  .navbar-toggle {
    display: block;
  }

  /* line 692, ../sass/style.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }

  /* line 695, ../sass/style.scss */
  .navbar-nav {
    float: none !important;
  }

  /* line 698, ../sass/style.scss */
  .navbar-nav > li {
    float: none;
  }

  /* line 701, ../sass/style.scss */
  .navbar-collapse.collapse.in {
    display: block !important;
  }

  /* line 705, ../sass/style.scss */
  #mail {
    margin-right: 12px !important;
  }

  /* line 708, ../sass/style.scss */
  .navbar-nav li a {
    margin-left: 12px;
  }
}
