@charset "UTF-8";
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/****
*link hover line animation 
****/
span.line_wrap {
  position: relative;
  display: inline-block; }

span.line {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  border-top: 1px solid grey;
  -webkit-transition: width 0.5s ease-in; }

span.line_wrap:hover span.line {
  width: 100%; }

​
.open-sans {
  font-family: "OpenSans"; }

.loading-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99999;
  display: none; }
  .loading-overlay .overlay-logo {
    display: block;
    margin: 36vh auto 0px;
    width: 160px;
    height: auto; }
  .loading-overlay p {
    color: white;
    font-family: "Roboto Slab";
    text-align: center;
    font-weight: 100;
    letter-spacing: 0.7px;
    font-size: 14px; }

p.load-more-txt {
  position: absolute;
  bottom: 20;
  color: black; }

.menu-item {
  -webkit-transition: 0.2s;
  transition: 0.2s; }

body {
  font-family: "OpenSans";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden; }
  body a {
    font-family: "OpenSans"; }
  body a:hover {
    text-decoration: none; }
  body #page {
    width: 100%; }
    body #page p {
      font-weight: 400;
      line-height: 25px; }
    body #page .text_down {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1.8px;
      text-align: right;
      color: #000000;
      text-decoration: none;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      position: absolute;
      right: 24px; }
      body #page .text_down img {
        width: 25px;
        margin-top: -3px;
        height: 12px;
        -webkit-transition: 0.2s;
        transition: 0.2s; }
    body #page .text_down_top {
      text-align: left;
      padding-left: 22px; }
    body #page .slick-dotted.slick-slider {
      margin-bottom: 10px; }
    body #page .grid .grid-item {
      padding-bottom: 30px;
      -webkit-transition: 0.1s;
      transition: 0.1s; }
      body #page .grid .grid-item .slick-track img {
        -webkit-transition: 0.1s;
        transition: 0.1s; }
    body #page .grid .grid-item:hover .slick-track img {
      -webkit-transform: scale(1.005);
          -ms-transform: scale(1.005);
              transform: scale(1.005); }
    body #page .grid .grid-item:hover .text_down img {
      -webkit-transform: translateX(10px);
          -ms-transform: translateX(10px);
              transform: translateX(10px); }
    body #page .grid-item--width-full {
      padding-bottom: 30px; }
    body #page .slick-dots li button:before {
      color: white;
      opacity: 0.9; }
    body #page .slick-dots li.slick-active button:before {
      -webkit-transform: scale(2);
          -ms-transform: scale(2);
              transform: scale(2); }
    body #page .slick-dots {
      right: 0;
      width: initial; }

.init-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999999; }
  .init-overlay .overlay-logo {
    display: block;
    margin: 30vh auto 0;
    width: 200px;
    height: auto;
    -webkit-animation: moveTop;
            animation: moveTop;
    -webkit-animation-delay: 3.5s;
            animation-delay: 3.5s;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
  .init-overlay h4 {
    color: white;
    color: white;
    text-align: center;
    font-family: "Roboto Slab";
    font-weight: 300;
    letter-spacing: 1px;
    -webkit-animation: hideTagline;
            animation: hideTagline;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }

.first-screen {
  position: relative;
  clear: both; }
  .first-screen .gradient-overlay {
    position: absolute;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(transparent));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.9), transparent);
    background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
    z-index: 999;
    height: 25vh;
    width: 100vw; }
  .first-screen .logo-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    padding-top: 36px; }
    .first-screen .logo-container a img.logo {
      width: auto;
      height: 120px;
      margin-left: 60px;
      padding-right: 46px; }
  .first-screen #masthead {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000; }
    .first-screen #masthead .site-branding {
      display: none; }
    .first-screen #masthead .skip-link {
      display: none !important; }
    .first-screen #masthead #site-navigation .menu-toggle {
      display: none; }
    .first-screen #masthead #site-navigation .menu-verhnee-container .menu-item {
      display: inline-block;
      margin-top: 65px;
      margin-right: 75px;
      padding-bottom: 4px; }
      .first-screen #masthead #site-navigation .menu-verhnee-container .menu-item a {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff; }
      .first-screen #masthead #site-navigation .menu-verhnee-container .menu-item:hover {
        border-bottom: 1px solid #0b0a07; }
    .first-screen #masthead #site-navigation .menu-verhnee-container .current-menu-item {
      border-bottom: 1px solid #0b0a07; }
  .first-screen .slick-slider .slick-dots {
    bottom: 20px;
    left: 20px; }
  .first-screen .grid-item--width-full {
    width: 100%; }
    .first-screen .grid-item--width-full img {
      width: 100%;
      height: auto;
      margin-top: -20%; }
    .first-screen .grid-item--width-full .slick-dots {
      padding-left: 39px;
      text-align: left; }
    .first-screen .grid-item--width-full .menu-left {
      display: none;
      width: 328px;
      background-color: rgba(0, 0, 0, 0.85);
      color: #ffffff;
      padding-bottom: 40px;
      position: fixed;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 999;
      -webkit-transform: translateX(-150px);
          -ms-transform: translateX(-150px);
              transform: translateX(-150px);
      opacity: 0.4;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
      .first-screen .grid-item--width-full .menu-left .nav {
        margin-top: 167px;
        margin-left: 60px;
        /*        .cross {
                  margin-top: 16px;
                  img {
                    width: 17px;
                  }
                }*/ }
        .first-screen .grid-item--width-full .menu-left .nav .line {
          width: 133px;
          height: 1px;
          border-bottom: solid 1px #ffffff; }
        .first-screen .grid-item--width-full .menu-left .nav .filter {
          margin-top: 100px;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.25;
          color: #ffffff; }
          .first-screen .grid-item--width-full .menu-left .nav .filter input[type=checkbox].css-checkbox {
            position: absolute;
            z-index: -1000;
            left: -1000px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            height: 1px;
            width: 1px;
            margin: -1px;
            padding: 0;
            border: 0; }
          .first-screen .grid-item--width-full .menu-left .nav .filter input[type=checkbox].css-checkbox + label.css-label {
            padding-left: 40px;
            height: 15px;
            display: block;
            line-height: 15px;
            background-repeat: no-repeat;
            background-position: 0 0;
            font-size: 15px;
            vertical-align: middle;
            cursor: pointer;
            margin-bottom: 22px; }
          .first-screen .grid-item--width-full .menu-left .nav .filter input[type=checkbox].css-checkbox:checked + label.css-label {
            background-position: 0 -15px; }
          .first-screen .grid-item--width-full .menu-left .nav .filter label.css-label {
            background-image: url(../img/csscheckbox.png);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: black; }
      .first-screen .grid-item--width-full .menu-left:hover {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        opacity: 1; }
        .first-screen .grid-item--width-full .menu-left:hover label {
          color: white !important; }

.grid .grid-sizer, .grid .grid-item {
  width: 24.5%;
  padding-left: 10px;
  padding-right: 10px;
  float: left; }
  .grid .grid-sizer img, .grid .grid-item img {
    width: 100%;
    height: auto; }
.grid .grid-item--width2 {
  width: 49.2%; }
  .grid .grid-item--width2 img {
    width: 100%; }
.grid .slick-dots {
  padding-right: 27px;
  bottom: 22px; }

.home .current_page_item, .home .first-screen #masthead #site-navigation .menu-verhnee-container .menu-item:hover {
  border-bottom: 1px solid white !important; }
.home .first-screen .logo-container img.logo {
  padding-right: 0;
  padding-bottom: 10px;
  height: 130px;
  -webkit-transform: translateY(-150%);
      -ms-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-animation: logoFromTop;
          animation: logoFromTop;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
.home .first-screen .logo-container .nav-button {
  margin-left: 60px;
  margin-top: 20px;
  z-index: 1000; }
  .home .first-screen .logo-container .nav-button a {
    color: white;
    text-decoration: none; }
    .home .first-screen .logo-container .nav-button a img {
      width: 17px;
      margin-right: 10px; }
  .home .first-screen .logo-container .nav-button:hover {
    text-decoration: line-through; }

.first-screen .grid-item--width-full .menu-left .nav .filter input[type=checkbox].css-checkbox + label.filter-margin-bottom {
  margin-bottom: 30px; }

@media (min-width: 768px) and (max-width: 1023px) {
  .grid .grid-item--width2, .grid .grid-item {
    width: 49%;
    padding-right: 0;
    padding-left: 0; } }
@media (max-width: 767px) {
  .grid .grid-item--width2, .grid .grid-item {
    width: 100%;
    padding-right: 0;
    padding-left: 0; } }
@-webkit-keyframes moveTop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px); } }
@keyframes moveTop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px); } }
@-webkit-keyframes hideTagline {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes hideTagline {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes logoFromTop {
  0% {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%); }
  99% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    border-bottom: 1px solid white; } }
@keyframes logoFromTop {
  0% {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%); }
  99% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    border-bottom: 1px solid white; } }