@font-face {
  font-family: "OpenSans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
body {
  font-family: "OpenSans";
  box-sizing: border-box;
  overflow-x: hidden; }
  body a:hover {
    text-decoration: none; }
  body #page {
    width: 100%; }
    body #page p {
      font-family: 'Roboto Slab', serif;
      font-weight: 300;
      line-height: 27px; }
    body #page p.text_down {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 1.8px;
      text-align: right;
      color: #000000;
      text-decoration: none;
      margin-bottom: 75px;
      padding-right: 22px; }
      body #page p.text_down img {
        width: 25px; }
    body #page p.text_down_top {
      text-align: left;
      padding-left: 22px; }
    body #page .slick-dotted.slick-slider {
      margin-bottom: 23px; }

.first-screen {
  position: relative;
  clear: both; }
  .first-screen .logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000; }
    .first-screen .logo a img {
      width: 155px;
      height: auto;
      margin-top: 36px;
      margin-left: 60px;
      padding-right: 46px; }
  .first-screen .nav-button {
    position: absolute;
    top: 192px;
    left: 60px;
    z-index: 1000; }
    .first-screen .nav-button a img {
      width: 17px; }
  .first-screen #masthead {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000; }
    .first-screen #masthead .site-branding {
      display: none; }
    .first-screen #masthead .skip-link {
      display: none !important; }
    .first-screen #masthead #site-navigation .menu-toggle {
      display: none; }
    .first-screen #masthead #site-navigation .menu-verhnee-container .menu-item {
      display: inline-block;
      margin-top: 65px;
      margin-right: 75px; }
      .first-screen #masthead #site-navigation .menu-verhnee-container .menu-item a {
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff; }

/*# sourceMappingURL=about.css.map */
