@font-face {
  font-family: "OpenSans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
body {
  font-family: "OpenSans";
  box-sizing: border-box;
  overflow-x: hidden; }

#page {
  overflow-x: hidden; }

.about .menu-item {
  transition: 0.2s; }
.about a {
  font-family: "OpenSans"; }
.about p {
  font-family: "Roboto Slab";
  font-weight: 300; }
.about .row {
  position: relative; }
.about .grey-bg {
  background-color: #efefef;
  position: absolute; }
.about img.logo {
  width: 155px;
  margin-left: 60px;
  padding-right: 46px;
  transform: translateY(-200%);
  animation: logoFromTop;
  animation-timing-function: ease-out;
  animation-delay: 1.5s;
  animation-duration: 1.3s;
  animation-fill-mode: forwards; }
.about h3 {
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 4.5px;
  text-align: left;
  color: #000000; }
.about .first-screen #masthead #site-navigation .menu-verhnee-container .menu-item a {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  text-align: left;
  color: #0b0a07;
  text-decoration: none;
  transition: 0.2s; }
.about .line_short {
  width: 48px;
  height: 6px;
  background-color: #0b0a07; }
.about .line_long {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px; }
  .about .line_long .line {
    width: 90%;
    height: 1px;
    background-color: #0b0a07;
    float: left;
    margin-top: 2px;
    margin-bottom: 2px; }
  .about .line_long .point {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #0b0a07;
    border: solid 1px #0b0a07;
    float: left; }
.about .site-content {
  margin-top: 156px; }
.about .top_pic img {
  width: 100%; }
.about .top_pic .grey-bg {
  top: 120px;
  height: 750px;
  width: 100vw; }
.about .top_pic .company-name-block {
  margin-top: 330px; }
  .about .top_pic .company-name-block .line_long {
    width: 750px;
    margin-left: -170px; }
  .about .top_pic .company-name-block .left_block {
    margin-right: -20px; }
.about .top_pic .approach-container {
  margin-top: 10px; }
  .about .top_pic .approach-container .approach {
    margin-top: 220px; }
    .about .top_pic .approach-container .approach .line_long {
      width: 770px;
      margin-right: 190px; }
.about .top_pic .left_block .site_title {
  margin: 140px 0; }
  .about .top_pic .left_block .site_title .text h1 {
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 5px;
    color: #0b0a07; }
.about .top_pic .right_block .big_pic img {
  width: 87%; }
.about .team {
  margin-top: 120px; }
  .about .team .grey-bg {
    top: 0;
    right: 0;
    width: 1200px;
    height: 460px; }
  .about .team .line_long {
    margin-left: -200px;
    width: 620px;
    z-index: 999; }
  .about .team .authors_title {
    margin-left: 183px;
    position: relative; }
  .about .team .authors {
    margin-top: 30px;
    margin-right: 0px; }
    .about .team .authors .item:hover .info {
      display: block; }
    .about .team .authors .slick-item-team .pic {
      background-color: #0b0a07;
      width: 220px;
      height: 264px;
      background-size: cover;
      transition: background-image 0.5s; }
      .about .team .authors .slick-item-team .pic img {
        width: 220px;
        height: 264px; }
    .about .team .authors .item {
      float: left;
      position: relative; }
      .about .team .authors .item .pic {
        background-color: #0b0a07;
        width: 220px;
        height: 264px;
        background-size: cover;
        transition: background-image 0.5s; }
        .about .team .authors .item .pic img {
          width: 220px;
          height: 264px; }
      .about .team .authors .item .info {
        display: none;
        position: absolute;
        top: 264px;
        width: 220px;
        background-color: rgba(0, 0, 0, 0.5);
        transition: 0.1s; }
        .about .team .authors .item .info p {
          text-align: center;
          letter-spacing: 1px;
          color: #ffffff;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal; }
        .about .team .authors .item .info .name {
          font-family: 'OpenSans';
          margin-top: 10px;
          font-size: 16px; }
        .about .team .authors .item .info .post {
          text-transform: uppercase;
          font-size: 12px; }
.about .history {
  margin-top: 180px; }
  .about .history .line_long {
    margin-left: -380px;
    width: 600px; }
  .about .history .text {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: justify;
    color: #0b0a07; }
.about .services {
  margin-top: 90px; }
  .about .services .title {
    margin-left: 90px; }
    .about .services .title .line_long {
      width: 600px;
      margin-left: -250px; }
  .about .services .grey-bg {
    top: 280px;
    right: 0;
    height: 300px;
    width: 1260px; }
  .about .services .pics {
    width: 1060px;
    position: relative; }
    .about .services .pics .square {
      display: inline-block;
      max-width: 220px;
      margin: 45px; }
      .about .services .pics .square img {
        width: 220px;
        height: auto; }
.about .qoutes {
  margin: 90px 0;
  padding: 50px 0 0; }
  .about .qoutes .reviews_theme {
    width: 100%;
    background-color: #efefef; }
    .about .qoutes .reviews_theme .reviews_slick {
      max-width: 1020px;
      margin: 0 auto; }
      .about .qoutes .reviews_theme .reviews_slick .slick-dots {
        bottom: -40px;
        right: 49% !important; }
        .about .qoutes .reviews_theme .reviews_slick .slick-dots li button:before {
          color: black !important; }
      .about .qoutes .reviews_theme .reviews_slick .review_item {
        width: 100%;
        cursor: pointer; }
        .about .qoutes .reviews_theme .reviews_slick .review_item .pic img {
          padding-right: 20px;
          width: 100%;
          height: auto; }
        .about .qoutes .reviews_theme .reviews_slick .review_item .name h3 {
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          letter-spacing: 1.1px;
          color: #0b0a07;
          margin-top: 0px; }
        .about .qoutes .reviews_theme .reviews_slick .review_item .post p {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.71;
          letter-spacing: 0.9px;
          color: #0b0a07;
          margin-top: 11px; }
        .about .qoutes .reviews_theme .reviews_slick .review_item .text p {
          font-size: 16px;
          font-weight: normal;
          font-style: italic;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: 1px;
          color: #0b0a07;
          margin-top: 10px; }
.about .done_objects {
  margin: 50px 0; }
  .about .done_objects .done_objects_title {
    margin-left: 450px; }
    .about .done_objects .done_objects_title .line_long {
      margin-left: -480px;
      width: 1000px; }
  .about .done_objects .year_item {
    background-color: #efefef;
    background-color: #efefef;
    padding: 10px 0 0; }
    .about .done_objects .year_item .title h4 {
      text-align: center;
      font-size: 18px;
      font-family: "Roboto Slab"; }
    .about .done_objects .year_item .list_body {
      padding-bottom: 1px; }
      .about .done_objects .year_item .list_body .list {
        background-color: white;
        border: 1px solid #efefef;
        margin-right: 20px;
        margin-left: -20px;
        padding: 10px 0 10px 40px; }
        .about .done_objects .year_item .list_body .list li {
          margin: 15px 0; }

.show-big {
  display: block; }

.show-small {
  display: none; }

@media (min-width: 1025px) and (max-width: 1366px) {
  .about .top_pic .grey-bg {
    height: 380px; }
  .about .top_pic .company-name-block {
    margin-top: 160px; }
    .about .top_pic .company-name-block .left_block .site_title .text h1 {
      font-size: 38px; }
    .about .top_pic .company-name-block .left_block .site_title .line_long {
      width: 640px; }
  .about .top_pic .right_block .big_pic {
    width: 500px; }
  .about .top_pic .right_block .approach-container .approach {
    margin-top: 120px; }
  .about .team {
    height: 100%;
    margin-top: 80px; }
    .about .team .grey-bg {
      width: 800px;
      height: 450px; }
    .about .team .authors .item .info {
      width: 160px;
      top: 192px; }
      .about .team .authors .item .info p.name {
        margin-top: 20px; }
    .about .team .authors .item .pic {
      width: 160px;
      height: 192px; }
  .about .history {
    margin-top: 150px; }
  .about .services .grey-bg {
    top: 190px;
    height: 240px;
    width: 900px; }
  .about .services .title .line_long {
    width: 500px; }
  .about .services .pics {
    width: 760px; }
    .about .services .pics .square {
      margin: 25px; }
      .about .services .pics .square img {
        width: 160px; }
  .about .qoutes {
    position: relative; }
    .about .qoutes .reviews_theme {
      background-color: transparent; } }
/****** tablet layout *******/
@media (min-width: 768px) and (max-width: 1024px) {
  .show-big {
    display: none; }

  .show-small {
    display: block; }

  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding-left: 0 !important;
    padding-right: 0 !important; }

  .about .top_pic .grey-bg {
    height: 380px;
    top: 50px; }
  .about .top_pic .company-name-block {
    margin-top: 120px; }
    .about .top_pic .company-name-block .left_block {
      margin-right: 0; }
      .about .top_pic .company-name-block .left_block .site_title {
        margin-left: 30px;
        margin-bottom: 50px; }
        .about .top_pic .company-name-block .left_block .site_title .text h1 {
          font-size: 38px; }
        .about .top_pic .company-name-block .left_block .site_title .line_long {
          width: 460px; }
      .about .top_pic .company-name-block .left_block .left_pic {
        width: 300px;
        margin-left: 30px; }
      .about .top_pic .company-name-block .left_block .approach {
        margin-top: 50px;
        margin-left: 50px;
        width: 320px; }
        .about .top_pic .company-name-block .left_block .approach .line_long {
          width: 450px; }
        .about .top_pic .company-name-block .left_block .approach .text p {
          font-size: 15px; }
  .about .top_pic .right_block .big_pic img {
    width: 100%; }
  .about .top_pic .right_block .approach-container .bottom_pic {
    margin-top: 5px;
    margin-left: 15px; }
    .about .top_pic .right_block .approach-container .bottom_pic img {
      width: 220px; }
  .about .top_pic .right_block .approach-container .approach {
    margin-top: 120px;
    margin-left: 30px; }
  .about .team {
    height: 100%;
    margin-top: 80px; }
    .about .team .grey-bg {
      top: 0px;
      width: 370px;
      height: 540px; }
    .about .team .authors.authors-mobile .item {
      margin: 0 0 50px 23px; }
      .about .team .authors.authors-mobile .item .info {
        position: static;
        display: block;
        top: 192px;
        background-color: transparent; }
        .about .team .authors.authors-mobile .item .info p {
          color: black; }
        .about .team .authors.authors-mobile .item .info p.name {
          margin-top: 20px;
          margin-bottom: 5px; }
        .about .team .authors.authors-mobile .item .info p.post {
          font-size: 13px;
          font-weight: bold !important; }
      .about .team .authors.authors-mobile .item .pic {
        height: 301px;
        width: 250px; }
    .about .team .authors.authors-mobile .slick-dots {
      bottom: 25px;
      right: 10px !important; }
  .about .history {
    margin-top: 90px; }
    .about .history .history_title {
      margin-left: 180px; }
    .about .history .history-text-block {
      padding: 20px 100px; }
      .about .history .history-text-block p {
        margin-top: 30px; }
  .about .services .grey-bg {
    top: 190px;
    height: 240px;
    width: 900px; }
  .about .services .title .line_long {
    width: 500px; }
  .about .services .pics {
    width: 660px; }
    .about .services .pics .square {
      margin: 25px; }
      .about .services .pics .square img {
        width: 160px; }
  .about .qoutes {
    position: relative; }
    .about .qoutes .reviews_theme {
      background-color: transparent; }
    .about .qoutes .grey-bg {
      position: absolute;
      top: -60px;
      width: 540px;
      right: 0;
      height: 380px; } }
@media (min-width: 768px) and (max-width: 800px) {
  .about .top_pic .company-name-block .left_block .site_title {
    margin-left: 70px; }
  .about .top_pic .company-name-block .left_block .left_pic {
    margin-left: 70px; }
  .about .top_pic .company-name-block .left_block .approach {
    margin-left: 70px;
    width: 300px; }
  .about .authors.authors-mobile .pic {
    height: 276px !important;
    width: 230px !important; } }
@media (max-width: 767px) {
  .show-big {
    display: none; }

  .show-small {
    display: block; }

  .grid .grid-item--width2, .grid .grid-item {
    width: 100%;
    padding-right: 0;
    padding-left: 0; }

  .first-screen {
    display: none; }

  .about .site-content {
    margin: 0; }
  .about .top_pic .grey-bg {
    top: 120px;
    height: 780px;
    width: 90vw;
    right: -30px; }
  .about .top_pic .company-name-block {
    margin-top: 310px; }
    .about .top_pic .company-name-block .line_long {
      width: 250px;
      margin-left: -50px; }
  .about .top_pic .left_block {
    margin-right: -20px;
    position: relative;
    z-index: 9; }
    .about .top_pic .left_block .site_title {
      margin: 0 0 20px 20px; }
    .about .top_pic .left_block .approach {
      margin: 30px 0 0 30px; }
      .about .top_pic .left_block .approach .approach_title {
        margin-left: 10px; }
        .about .top_pic .left_block .approach .approach_title .line_long {
          width: 240px;
          margin-left: -80px; }
  .about .top_pic .right_block {
    margin-top: 150px; }
    .about .top_pic .right_block .big_pic img {
      width: 400px; }
    .about .top_pic .right_block .approach-container .bottom_pic img {
      width: 180px; }
  .about .team .grey-bg {
    top: 20px;
    left: 0;
    width: 90vw;
    height: 500px; }
  .about .team .authors_title {
    margin-left: 43px; }
    .about .team .authors_title .line_long {
      margin-left: -60px;
      width: 310px; }
  .about .team .authors .slick-dotted.slick-slider {
    width: 490px; }
    .about .team .authors .slick-dotted.slick-slider .item {
      width: 250px; }
      .about .team .authors .slick-dotted.slick-slider .item .info {
        display: block;
        position: initial;
        top: 0;
        background-color: transparent; }
        .about .team .authors .slick-dotted.slick-slider .item .info p {
          color: black;
          font-weight: 600; }
    .about .team .authors .slick-dotted.slick-slider .slick-dots {
      left: -160px;
      bottom: -40px; }
      .about .team .authors .slick-dotted.slick-slider .slick-dots li button:before {
        color: black !important; }
  .about .history {
    margin-top: 100px; }
    .about .history .history_title .line_long {
      margin-left: -30px;
      width: 220px; }
  .about .services .grey-bg {
    top: 170px;
    right: 0;
    height: 440px;
    width: 70vw; }
  .about .services .title {
    margin-left: 20px; }
    .about .services .title .line_long {
      width: 250px;
      margin-left: -30px; }
  .about .services .pics {
    width: initial;
    float: none !important; }
    .about .services .pics .square {
      margin: 15px;
      float: left; }
      .about .services .pics .square img {
        width: 150px; }
  .about .qoutes {
    margin-top: 100px;
    padding-top: 0px; } }

/*# sourceMappingURL=about_us.css.map */
