@font-face {
  font-family: "OpenSans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
.menu-item {
  transition: 0.2s; }

.contacts .menu-item:hover {
  border-bottom: 1px solid white !important; }

.contacts .current-menu-item {
  border-bottom: 1px solid white; }

a {
  font-family: "OpenSans"; }

body {
  font-family: "OpenSans";
  box-sizing: border-box;
  overflow-x: hidden; }
  body a:hover {
    text-decoration: none; }
  body #page {
    width: 100%; }
    body #page p {
      font-family: 'Roboto Slab', serif;
      font-weight: 300;
      line-height: 27px; }
    body #page p.text_down {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 1.8px;
      text-align: right;
      color: #000000;
      text-decoration: none;
      margin-bottom: 75px;
      padding-right: 22px; }
      body #page p.text_down img {
        width: 25px; }
    body #page p.text_down_top {
      text-align: left;
      padding-left: 22px; }
    body #page .slick-dotted.slick-slider {
      margin-bottom: 23px; }
  body .slick-dots {
    padding-right: 27px;
    bottom: 22px; }

.office-picture {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 85vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom; }

.first-screen {
  position: relative;
  clear: both;
  height: 100vh; }
  .first-screen .logo-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    padding-top: 36px; }
    .first-screen .logo-container a img.logo {
      padding-right: 0;
      padding-bottom: 10px;
      height: 130px;
      transform: translateY(-150%);
      animation: logoFromTop;
      animation-timing-function: ease-out;
      animation-delay: 1.5s;
      animation-duration: 1.3s;
      animation-fill-mode: forwards; }
  .first-screen .nav-button {
    position: absolute;
    top: 192px;
    left: 60px;
    z-index: 1000; }
    .first-screen .nav-button a img {
      width: 17px; }
  .first-screen #masthead {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000; }
    .first-screen #masthead .site-branding {
      display: none; }
    .first-screen #masthead .skip-link {
      display: none !important; }
    .first-screen #masthead #site-navigation .menu-toggle {
      display: none; }
    .first-screen #masthead #site-navigation .menu-verhnee-container .current-menu-item {
      border-color: white; }
    .first-screen #masthead #site-navigation .menu-verhnee-container .menu-item {
      display: inline-block;
      margin-top: 65px;
      margin-right: 75px; }
      .first-screen #masthead #site-navigation .menu-verhnee-container .menu-item a {
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-family: "OpenSans";
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff; }
  .first-screen .grid-item--width-full {
    width: 100%; }
    .first-screen .grid-item--width-full img {
      width: 100%;
      height: auto; }
    .first-screen .grid-item--width-full .slick-dots {
      padding-left: 39px;
      text-align: left; }
    .first-screen .grid-item--width-full .menu-left {
      display: none;
      width: 328px;
      background-color: #0b0a07;
      color: #ffffff;
      padding-bottom: 40px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999; }
      .first-screen .grid-item--width-full .menu-left .nav {
        margin-top: 167px;
        margin-left: 60px;
        /*        .cross {
                  margin-top: 16px;
                  img {
                    width: 17px;
                  }
                }*/ }
        .first-screen .grid-item--width-full .menu-left .nav .line {
          width: 133px;
          height: 1px;
          border-bottom: solid 1px #ffffff; }
        .first-screen .grid-item--width-full .menu-left .nav .filter {
          margin-top: 100px;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.25;
          color: #ffffff; }
          .first-screen .grid-item--width-full .menu-left .nav .filter input[type=checkbox].css-checkbox {
            position: absolute;
            z-index: -1000;
            left: -1000px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            height: 1px;
            width: 1px;
            margin: -1px;
            padding: 0;
            border: 0; }
          .first-screen .grid-item--width-full .menu-left .nav .filter input[type=checkbox].css-checkbox + label.css-label {
            padding-left: 40px;
            height: 15px;
            display: block;
            line-height: 15px;
            background-repeat: no-repeat;
            background-position: 0 0;
            font-size: 15px;
            vertical-align: middle;
            cursor: pointer;
            margin-bottom: 22px; }
          .first-screen .grid-item--width-full .menu-left .nav .filter input[type=checkbox].css-checkbox:checked + label.css-label {
            background-position: 0 -15px; }
          .first-screen .grid-item--width-full .menu-left .nav .filter label.css-label {
            background-image: url(../img/csscheckbox.png);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }

#abv_map {
  width: 100%; }

.contacts .row-fluid .contact_wrap {
  margin-top: 70vh;
  opacity: 0.9; }
  .contacts .row-fluid .contact_wrap div[class^="col-"] {
    padding-left: 0;
    padding-right: 0; }
  .contacts .row-fluid .contact_wrap .phone_email {
    width: 100%;
    height: 500px;
    background-color: #0b0a07;
    background-image: url("../img/form-logo.png");
    background-position: 0% 100%;
    background-repeat: no-repeat;
    padding-left: 66px; }
    .contacts .row-fluid .contact_wrap .phone_email img {
      margin-right: 6px; }
    .contacts .row-fluid .contact_wrap .phone_email h4 {
      font-size: 24px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 2.5px;
      color: #ffffff;
      padding-top: 50px;
      margin-top: 0; }
    .contacts .row-fluid .contact_wrap .phone_email .phone {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 1.9px;
      color: #ffffff;
      padding-top: 66px; }
    .contacts .row-fluid .contact_wrap .phone_email .email {
      padding-top: 25px; }
      .contacts .row-fluid .contact_wrap .phone_email .email a {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 1.9px;
        color: #ffffff; }
  .contacts .row-fluid .contact_wrap .form_wrap {
    background-color: #fff;
    height: 500px;
    width: 100%; }
    .contacts .row-fluid .contact_wrap .form_wrap .wpcf7-validation-errors {
      color: white; }
    .contacts .row-fluid .contact_wrap .form_wrap .wpcf7-not-valid-tip {
      font-size: 10px; }
    .contacts .row-fluid .contact_wrap .form_wrap .title {
      font-size: 24px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 2.5px;
      text-align: center;
      color: #000000;
      padding-top: 50px;
      margin-bottom: 15px; }
    .contacts .row-fluid .contact_wrap .form_wrap table {
      width: 86%;
      margin-left: 30px; }
      .contacts .row-fluid .contact_wrap .form_wrap table .label {
        font-family: OpenSans;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 1.5px;
        text-align: center;
        color: #0b0a07;
        margin-top: 16px;
        margin-bottom: 16px; }
      .contacts .row-fluid .contact_wrap .form_wrap table .input {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        margin-top: 16px;
        margin-bottom: 16px; }
      .contacts .row-fluid .contact_wrap .form_wrap table input[type="text"], .contacts .row-fluid .contact_wrap .form_wrap table input[type="email"] {
        width: 100%;
        height: 50px;
        outline: none;
        font-size: 16px;
        padding: 5px;
        border: solid 1px #0b0a07; }
      .contacts .row-fluid .contact_wrap .form_wrap table textarea {
        width: 100%;
        height: 86px;
        background-color: white;
        outline: none;
        resize: none;
        padding: 5px;
        border: solid 1px #0b0a07; }
      .contacts .row-fluid .contact_wrap .form_wrap table input[type="submit"] {
        width: 239px;
        height: 56px;
        background-color: #0b0a07;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff;
        margin-top: 16px;
        text-align: center;
        float: right;
        font-size: 16px; }

/*# sourceMappingURL=contact.css.map */
