@font-face {
  font-family: "OpenSans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
body {
  font-family: "OpenSans";
  box-sizing: border-box;
  overflow-x: hidden; }
  body a:hover {
    text-decoration: none; }
  body #page {
    width: 100%; }
    body #page p {
      font-family: 'Roboto Slab', serif;
      font-weight: 300;
      line-height: 27px; }
    body #page p.text_down {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 1.8px;
      text-align: right;
      color: #000000;
      text-decoration: none;
      margin-bottom: 75px;
      padding-right: 22px; }
      body #page p.text_down img {
        width: 25px; }
    body #page p.text_down_top {
      text-align: left;
      padding-left: 22px; }
    body #page .slick-dotted.slick-slider {
      margin-bottom: 23px; }

.first-screen {
  position: relative;
  clear: both; }
  .first-screen .logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000; }
    .first-screen .logo a img {
      width: 155px;
      height: auto;
      margin-top: 36px;
      margin-left: 60px;
      padding-right: 46px; }
  .first-screen .nav-button {
    position: absolute;
    top: 192px;
    left: 60px;
    z-index: 1000; }
    .first-screen .nav-button a img {
      width: 17px; }
  .first-screen #masthead {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000; }
    .first-screen #masthead .site-branding {
      display: none; }
    .first-screen #masthead .skip-link {
      display: none !important; }
    .first-screen #masthead #site-navigation .menu-toggle {
      display: none; }
    .first-screen #masthead #site-navigation .menu-verhnee-container .menu-item {
      display: inline-block;
      margin-top: 65px;
      margin-right: 75px; }
      .first-screen #masthead #site-navigation .menu-verhnee-container .menu-item a {
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff; }
  .first-screen .grid-item--width-full {
    width: 100%; }
    .first-screen .grid-item--width-full img {
      width: 100%;
      height: auto; }
    .first-screen .grid-item--width-full .slick-dots {
      padding-left: 39px;
      text-align: left; }
    .first-screen .grid-item--width-full .menu-left {
      display: none;
      width: 328px;
      background-color: #0b0a07;
      color: #ffffff;
      padding-bottom: 40px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999; }
      .first-screen .grid-item--width-full .menu-left .nav {
        margin-top: 167px;
        margin-left: 60px;
        /*        .cross {
                  margin-top: 16px;
                  img {
                    width: 17px;
                  }
                }*/ }
        .first-screen .grid-item--width-full .menu-left .nav .line {
          width: 133px;
          height: 1px;
          border-bottom: solid 1px #ffffff; }
        .first-screen .grid-item--width-full .menu-left .nav .filter {
          margin-top: 100px;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.25;
          color: #ffffff; }
          .first-screen .grid-item--width-full .menu-left .nav .filter input[type=checkbox].css-checkbox {
            position: absolute;
            z-index: -1000;
            left: -1000px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            height: 1px;
            width: 1px;
            margin: -1px;
            padding: 0;
            border: 0; }
          .first-screen .grid-item--width-full .menu-left .nav .filter input[type=checkbox].css-checkbox + label.css-label {
            padding-left: 40px;
            height: 15px;
            display: block;
            line-height: 15px;
            background-repeat: no-repeat;
            background-position: 0 0;
            font-size: 15px;
            vertical-align: middle;
            cursor: pointer;
            margin-bottom: 22px; }
          .first-screen .grid-item--width-full .menu-left .nav .filter input[type=checkbox].css-checkbox:checked + label.css-label {
            background-position: 0 -15px; }
          .first-screen .grid-item--width-full .menu-left .nav .filter label.css-label {
            background-image: url(../img/csscheckbox.png);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }

.grid .grid-sizer, .grid .grid-item {
  width: 24%;
  padding-left: 24px;
  padding-right: 24px;
  float: left; }
  .grid .grid-sizer img, .grid .grid-item img {
    width: 100%;
    height: auto; }
.grid .grid-item--width2 {
  width: 49%; }
  .grid .grid-item--width2 img {
    width: 100%; }
.grid .slick-dots {
  padding-right: 27px;
  bottom: 22px; }

/*# sourceMappingURL=projects.css.map */
