body {
  font-size: 16px; }

.section {
  position: top;
  background-size: cover; }

.section1 {
  /* background-image: url('../img/bg1.jpg');*/
  position: relative;
  color: #FFF; }

.single-portfolio .menu-item:hover {
  border-bottom: 1px solid white !important; }

.menu-item {
  transition: 0.2s; }

#page .first-screen .object-page-nav {
  display: inline-block; }
  #page .first-screen .object-page-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    #page .first-screen .object-page-nav ul .current-state {
      text-decoration: line-through; }
    #page .first-screen .object-page-nav ul li {
      color: #FFF;
      letter-spacing: 1px;
      cursor: pointer; }
#page .first-screen .logo-container {
  z-index: 1001; }
  #page .first-screen .logo-container img.logo {
    border-right: 1px solid white;
    padding-right: 25px;
    margin-right: 25px; }
#page section.gallery {
  height: 100vh;
  width: 100vw;
  background-color: rgba(11, 10, 7, 0.9);
  position: absolute;
  top: 100vh;
  z-index: 1000; }
  #page section.gallery .hide-gallery {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 18px;
    width: 18px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer; }
  #page section.gallery .gallery-thumbs {
    margin-top: 30vh;
    margin-left: 150px;
    margin-right: 150px; }
    #page section.gallery .gallery-thumbs img {
      height: 150px;
      width: 150px;
      margin-right: 60px;
      margin-bottom: 60px; }
#page .fp-slide, #page .fp-section {
  background-size: cover;
  background-position: center; }
#page .screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(11, 10, 7, 0.65); }
  #page .screen .project-text-block {
    margin: 200px 0 0 330px;
    animation-name: show-from-left;
    animation-duration: 1s; }
    #page .screen .project-text-block .above-title-line {
      display: block;
      width: 46px;
      height: 6px;
      background-color: white;
      margin-bottom: 20px; }
    #page .screen .project-text-block .project-title {
      font-size: 36px;
      letter-spacing: 3px;
      font-weight: 800;
      margin: 0 0 18px; }
    #page .screen .project-text-block .project-description {
      position: relative;
      max-width: 800px;
      margin-top: 2px;
      padding-top: 20px; }
      #page .screen .project-text-block .project-description .below-title-line {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 1900px;
        height: 1px;
        background-color: white; }
        #page .screen .project-text-block .project-description .below-title-line .dot {
          position: absolute;
          top: -1px;
          right: 0px;
          height: 3px;
          width: 3px;
          background-color: white;
          border-radius: 100%; }
      #page .screen .project-text-block .project-description p {
        font-weight: 100;
        line-height: 25px;
        letter-spacing: 1px;
        font-family: Roboto Slab, sans-serif; }
    #page .screen .project-text-block .working .authors-title {
      margin: 22px 0; }
    #page .screen .project-text-block .working h3.author-name {
      font-size: 19px;
      margin: 0px; }
    #page .screen .project-text-block .working p.authors-position {
      font-size: 14px; }

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #fcf9ed !important; }

.working .name {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.1px;
  color: #ffffff; }

.working .post {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  color: #ffffff; }

@media (min-width: 768px) and (max-width: 1024px) {
  #page .screen .project-text-block {
    margin: 200px 0 0 60px; } }
@keyframes show-from-left {
  0% {
    transform: translateX(-140%); }
  100% {
    transform: translateX(0%); } }

/*# sourceMappingURL=single_style.css.map */
