body {
  background-color: #fff; }
  body a:hover {
    text-decoration: none; }
  body .wrapper_header {
    background-image: url("../images/bg_header.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    position: relative; }
    body .wrapper_header header .top_line {
      margin-top: 20px; }
      body .wrapper_header header .top_line .galery_button img {
        margin-right: 8px; }
      body .wrapper_header header .top_line .galery_button {
        margin-top: 30px; }
      body .wrapper_header header .top_line .logo {
        max-width: 461px;
        margin: 0 auto;
        display: block; }
        body .wrapper_header header .top_line .logo img {
          width: 100%; }
      body .wrapper_header header .top_line form {
        margin-top: 40px;
        display: block; }
        body .wrapper_header header .top_line form input {
          background-color: transparent;
          height: 30px;
          border: 0;
          border-bottom: 1px solid #fff;
          min-width: 200px;
          color: #fff; }
          body .wrapper_header header .top_line form input:-moz-placeholder {
            color: #aec1dc; }
          body .wrapper_header header .top_line form input::-webkit-input-placeholder {
            color: #aec1dc; }
          body .wrapper_header header .top_line form input:focus {
            outline: none; }
        body .wrapper_header header .top_line form button {
          height: 30px;
          border: 0;
          background-color: transparent;
          margin-left: -27px; }
    body .wrapper_header header .name_school h1 {
      text-align: center;
      font-family: RobotoBold;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      margin: 0; }
    body .wrapper_header header .navbar-default {
      background-color: transparent;
      border: 0;
      height: 35px;
      margin-top: 20px; }
      body .wrapper_header header .navbar-default button {
        background-color: transparent;
        margin-top: -42px; }
        body .wrapper_header header .navbar-default button:hover {
          background-color: transparent; }
        body .wrapper_header header .navbar-default button:focus {
          background-color: transparent; }
      body .wrapper_header header .navbar-default .navbar-collapse {
        margin: 0 -15px;
        text-transform: uppercase;
        margin-top: 20px; }
        body .wrapper_header header .navbar-default .navbar-collapse .navbar-nav li a {
          padding: 8px 17px;
          font-size: 14px;
          font-family: RobotoMedium;
          color: #fff;
          -webkit-border-radius: 10px 10px 10px 10px;
                  border-radius: 10px 10px 10px 10px;
          margin-right: 12px;
          z-index: 10; }
          body .wrapper_header header .navbar-default .navbar-collapse .navbar-nav li a img {
            margin-right: 10px; }
        body .wrapper_header header .navbar-default .navbar-collapse #about {
          background-color: #8dbe22; }
          body .wrapper_header header .navbar-default .navbar-collapse #about:hover {
            background-color: #82b809; }
        body .wrapper_header header .navbar-default .navbar-collapse #life {
          background-color: #e9bd00; }
          body .wrapper_header header .navbar-default .navbar-collapse #life:hover {
            background-color: #e9af00; }
        body .wrapper_header header .navbar-default .navbar-collapse #magistr {
          background-color: #f05a2c; }
          body .wrapper_header header .navbar-default .navbar-collapse #magistr:hover {
            background-color: #d3481d; }
        body .wrapper_header header .navbar-default .navbar-collapse #docs {
          background-color: #1a69be; }
          body .wrapper_header header .navbar-default .navbar-collapse #docs:hover {
            background-color: #135eaf; }
        body .wrapper_header header .navbar-default .navbar-collapse #book {
          background-color: #ac53d5; }
          body .wrapper_header header .navbar-default .navbar-collapse #book:hover {
            background-color: #a248cb; }
        body .wrapper_header header .navbar-default .navbar-collapse #parents {
          background-color: #53bbd5; }
          body .wrapper_header header .navbar-default .navbar-collapse #parents:hover {
            background-color: #41b1cd; }
        body .wrapper_header header .navbar-default .navbar-collapse #mail {
          background-color: #d55393;
          margin-right: 0; }
          body .wrapper_header header .navbar-default .navbar-collapse #mail:hover {
            background-color: #c94385; }
    body .wrapper_header .owl-carousel {
      position: relative;
      padding-left: 15px;
      padding-right: 15px; }
      body .wrapper_header .owl-carousel .owl-item img {
        -webkit-border-radius: 10px 10px 10px 10px;
                border-radius: 10px 10px 10px 10px; }
      body .wrapper_header .owl-carousel .fa-chevron-right {
        position: absolute;
        top: 50%;
        right: 52px;
        color: #fff; }
        body .wrapper_header .owl-carousel .fa-chevron-right:hover {
          color: #aeaaa3; }
      body .wrapper_header .owl-carousel .fa-chevron-left {
        position: absolute;
        top: 50%;
        left: 30px;
        color: #fff; }
        body .wrapper_header .owl-carousel .fa-chevron-left:hover {
          color: #aeaaa3; }

.welcome {
  margin-bottom: 42px; }
  .welcome .title {
    color: #76a809;
    font-family: "BookmanOldStyle";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 8px; }
  .welcome .text {
    color: #2c2c2c;
    font-family: "RobotoLight";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center; }
    .welcome .text p {
      padding-bottom: 20px; }
  .welcome .item {
    margin: 5px 0;
    text-align: center; }
    .welcome .item img {
      padding: 7px;
      border: 0;
      -webkit-border-radius: 90%;
              border-radius: 90%; }
    .welcome .item img.globus:hover {
      padding: 0;
      border: 7px solid #d55393;
      -webkit-border-radius: 90%;
              border-radius: 90%; }
    .welcome .item img.biblie:hover {
      padding: 0;
      border: 7px solid #eac214;
      -webkit-border-radius: 90%;
              border-radius: 90%; }
    .welcome .item img.pallete:hover {
      padding: 0;
      border: 7px solid #2b8715;
      -webkit-border-radius: 90%;
              border-radius: 90%; }
    .welcome .item img.cherry:hover {
      padding: 0;
      border: 7px solid #1a69be;
      -webkit-border-radius: 90%;
              border-radius: 90%; }
    .welcome .item img.bus:hover {
      padding: 0;
      border: 7px solid #f05a2c;
      -webkit-border-radius: 90%;
              border-radius: 90%; }
    .welcome .item .title {
      color: #76a809;
      font-family: RobotoBold;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 0;
      margin-top: 16px; }
    .welcome .item .text {
      color: #2c2c2c;
      font-family: "RobotoLight";
      font-size: 16px;
      font-weight: 400;
      line-height: 20px; }

.groups {
  margin: 39px 0 44px; }
  .groups .title {
    color: #76a809;
    font-family: "Bookman Old Style";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 13px; }
  .groups .text {
    text-align: center;
    color: #2c2c2c;
    font-family: "Roboto Light";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 40px; }
  .groups .item {
    line-height: 24px; }
    .groups .item img {
      width: 100%; }
    .groups .item .type {
      text-align: center;
      font-family: "RobotoMedium";
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase; }
    .groups .item .name {
      text-align: center;
      font-family: RobotoBold;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase; }
    .groups .item .age {
      text-align: center;
      color: #2c2c2c;
      font-family: "RobotoLight";
      font-size: 16px;
      font-weight: 400; }
    .groups .item .groupe1 {
      color: #e4a701; }
    .groups .item .groupe2 {
      color: #83b419; }
    .groups .item .groupe3 {
      color: #d55393; }
    .groups .item .groupe4 {
      color: #53bbd5; }

.attension .bg_gray {
  background-color: #f6f6f6;
  line-height: 22px; }
.attension .title {
  color: #53bbd5;
  font-family: "RobotoMedium";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 27px;
  padding-top: 20px; }
.attension .text {
  color: #535353;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  padding-bottom: 19px; }

.photo .title {
  color: #76a809;
  font-family: "BookmanOldStyle";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 29px; }
.photo .item {
  height: 190px;
  width: 265px;
  overflow: hidden;
  margin: 0 auto;
  -webkit-border-radius: 10px;
          border-radius: 10px; }
  .photo .item img {
    -webkit-border-radius: 10px;
            border-radius: 10px;
    height: 190px;
    width: 266px;
    -webkit-transition: height 1s ease;
    transition: height 1s ease; }
  .photo .item img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-border-radius: 28px;
            border-radius: 28px; }
.photo .owl-nav {
  float: right;
  margin-top: 40px; }
  .photo .owl-nav .owl-prev, .photo .owl-nav .owl-next {
    background-color: #e9af00;
    float: right;
    color: #fff;
    -webkit-border-radius: 90%;
            border-radius: 90%;
    width: 32px;
    height: 32px;
    display: block;
    position: relative; }
    .photo .owl-nav .owl-prev i.fa-chevron-right, .photo .owl-nav .owl-next i.fa-chevron-right {
      position: absolute;
      top: 9px;
      left: 12px;
      font-size: 15px; }
    .photo .owl-nav .owl-prev i.fa-chevron-left, .photo .owl-nav .owl-next i.fa-chevron-left {
      position: absolute;
      top: 9px;
      left: 10px;
      font-size: 15px; }
.photo .see_all {
  text-align: center;
  margin-top: 46px;
  margin-bottom: 45px; }
  .photo .see_all a {
    color: white;
    font-family: RobotoBold;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #e9bd00;
    padding: 6px 31px;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  .photo .see_all a:hover {
    background-color: #e9af00; }

.new_articls .title {
  color: #76a809;
  font-family: "BookmanOldStyle";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 28px; }
.new_articls .article .wrap {
  background-color: rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px;
  padding: 5px; }
.new_articls .article:hover .wrap {
  -webkit-border-radius: 0;
          border-radius: 0; }
.new_articls .article:hover .img_wrap {
  height: 182px;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
.new_articls .article:hover .text {
  opacity: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px; }
.new_articls .article .img_wrap {
  height: 254px; }
  .new_articls .article .img_wrap img {
    -webkit-border-radius: 10px 10px 0 0;
            border-radius: 10px 10px 0 0;
    width: 100%; }
.new_articls .article .title {
  color: #689800;
  font-family: "RobotoMedium";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 17px;
  padding-bottom: 28px; }
.new_articls .article .data {
  color: #b5b5b5;
  font-family: RobotoBold;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  display: inline; }
.new_articls .article .views {
  color: #b5b5b5;
  font-family: RobotoBold;
  font-size: 12px;
  font-weight: 400;
  float: right; }
.new_articls .article .text {
  color: #2c2c2c;
  font-family: "RobotoLight";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 5px; }
.new_articls .show_all_articls {
  text-align: center;
  margin-top: -20px; }
  .new_articls .show_all_articls a {
    color: white;
    font-family: RobotoBold;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #e9bd00;
    padding: 7px 42px;
    -webkit-border-radius: 10px;
            border-radius: 10px; }

.footer {
  background-image: url("../images/bg_footer.png"); }
  .footer div[class*="col15-md"] {
    padding: 0; }
  .footer ul {
    padding-left: 0; }
    .footer ul li {
      list-style-type: none; }
      .footer ul li a {
        font-family: RobotoRegular;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        color: #555; }
  .footer .wrapp {
    margin-top: 30px;
    background-color: #FFF;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    display: block;
    margin-top: 132px;
    padding-top: 21px;
    margin-bottom: 50px; }
    .footer .wrapp .logo {
      padding-right: 5px;
      padding-left: 5px; }
      .footer .wrapp .logo img {
        width: 100%; }
      .footer .wrapp .logo .copy {
        color: #6a6a6a;
        font-family: "RobotoLight";
        font-size: 11px;
        font-weight: 400;
        line-height: 14px; }
      .footer .wrapp .logo .siteprosto {
        font-size: 11px;
        color: dimgrey;
        font-family: "RobotoLight";
        font-weight: 400; }
        .footer .wrapp .logo .siteprosto span {
          color: #6a9a01;
          font-family: RobotoBold;
          font-weight: 700; }
    .footer .wrapp .about .title {
      font-family: RobotoRegular;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      color: #72a600; }
    .footer .wrapp .subscription .title {
      color: #555;
      font-family: RobotoBold;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      text-transform: uppercase; }
    .footer .wrapp .subscription .want {
      color: #6b6b6b;
      font-family: "RobotoLight";
      font-size: 12px;
      font-weight: 400;
      line-height: 16px; }
    .footer .wrapp .subscription form {
      display: block; }
      .footer .wrapp .subscription form input {
        background-color: transparent;
        height: 30px;
        border: 0;
        border-bottom: 1px solid #d0d0d0;
        min-width: 170px;
        color: #6b6b6b; }
        .footer .wrapp .subscription form input:-moz-placeholder {
          color: #d0d0d0;
          color: #bbb;
          font-family: RobotoBold;
          font-size: 12px;
          font-weight: 300;
          font-style: italic; }
        .footer .wrapp .subscription form input::-webkit-input-placeholder {
          color: #d0d0d0;
          color: #bbb;
          font-family: RobotoBold;
          font-size: 12px;
          font-weight: 300;
          font-style: italic; }
        .footer .wrapp .subscription form input:focus {
          outline: none; }
      .footer .wrapp .subscription form button {
        height: 30px;
        border: 0;
        background-color: transparent;
        margin-left: -4px; }
  .footer .contacts a {
    color: #2c2c2c;
    font-family: "RobotoLight";
    font-size: 14px;
    font-weight: 400;
    text-transform: none; }
    .footer .contacts a img {
      margin-right: 5px; }

@media (max-width: 556px) {
  .top_line .logo img {
    width: 90% !important; } }
@media (max-width: 768px) {
  body .wrapper_header header .navbar-default .navbar-collapse {
    margin-top: 12px !important;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none; } }
@media (max-width: 992px) {
  body .wrapper_header header .top_line .logo img {
    padding-right: 32px; }

  body .wrapper_header header .navbar-default button {
    margin-top: -77px; } }
@media (max-width: 1200px) {
  .navbar-default {
    height: 0 !important;
    margin-top: 0 !important; }

  .navbar {
    min-height: 0 !important; }

  .navbar-header {
    float: none; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important; }

  .navbar-nav > li {
    float: none; }

  .navbar-collapse.collapse.in {
    display: block !important; }

  #mail {
    margin-right: 12px !important; }

  .navbar-nav li a {
    margin-left: 12px; } }