$screen-xs : 480px;

$screen-sm : 768px;

$screen-md : 992px;

$screen-lg : 1200px;

body {
  a:hover {
    text-decoration: none;
  }
  background-color: #fff;
  .wrapper_header {
    background-image: url("../images/bg_header.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    header {
      .top_line {
        margin-top: 20px;
        //line-height: 55px;
        .galery_button {
          img {
            margin-right: 8px
          }
        }
        .galery_button {
          margin-top: 30px;

        }
        .logo {
          //text-align: center;
          max-width: 461px;
          margin: 0 auto;
          display: block;
          img {
            width: 100%;
            
          }
        }
        form {
          //height: 30px;
          margin-top: 40px;
          display: block;
          input {
            background-color: transparent;
            height: 30px;
            border: 0;
            border-bottom: 1px solid #fff;
            min-width: 200px;
            color: #fff;
            &:-moz-placeholder {
              color: #aec1dc;
            }
            &::-webkit-input-placeholder {
              color: #aec1dc;
            }
            &:focus {
              outline: none; 
            }
          }
          button {
            height: 30px;
            border: 0;
            background-color: transparent;
            margin-left: -27px;
          }
        }

      }
      .name_school h1 {
        text-align: center;
        font-family: RobotoBold;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        margin: 0;
      }
      .navbar-default{
        background-color: transparent;
        border: 0;
        height: 35px;
        margin-top: 20px; 
        button {
          background-color: transparent;
          margin-top: -42px;
          &:hover {
            background-color: transparent;
          }
          &:focus {
            background-color: transparent;
          }
        }
        .navbar-collapse {
          margin: 0 -15px;
          text-transform: uppercase;
          margin-top: 20px;
          .navbar-nav  li  a {
            padding: 8px 17px;
            font-size: 14px;
            font-family: RobotoMedium;
            color: #fff;
            border-radius: 10px 10px 10px 10px;
            margin-right: 12px; 
            z-index: 10;
            img {
              margin-right:10px;
            }
          }
          #about {
            background-color: #8dbe22;
            &:hover {
              background-color: #82b809;
            }
          }
          #life {
            background-color: #e9bd00;
            &:hover {
              background-color: #e9af00;
            }
          }
          #magistr {
            background-color: #f05a2c;
            &:hover {
              background-color: #d3481d;
            }
          }
          #docs {
            background-color: #1a69be;
            &:hover {
              background-color: #135eaf;
            }
          }
          #book {
            background-color: #ac53d5;
            &:hover {
              background-color: #a248cb;
            }
          }
          #parents {
            background-color: #53bbd5;
            &:hover {
              background-color: #41b1cd;
            }
          }
          #mail {
            background-color: #d55393;
            margin-right: 0;
            &:hover {
              background-color: #c94385;
              
            }
          }
        }
      }
    }
    .owl-carousel {
      position: relative;
      padding-left: 15px;
      padding-right: 15px;

      .owl-item {
        img {
          border-radius: 10px 10px 10px 10px;
        }
      }
      .fa-chevron-right {
        position: absolute;
        top: 50%;
        right: 52px;
        color: #fff;
        &:hover {
          color: #aeaaa3;
        }
      }
      .fa-chevron-left {
        position: absolute;
        top: 50%;
        left: 30px;
        color: #fff;
        &:hover {
          color: #aeaaa3;
        }
      }
    }
  }
}
.welcome {
  margin-bottom: 42px;
  .title {
    color: #76a809;
    font-family: "BookmanOldStyle";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 8px;
  }
  .text {
    color: #2c2c2c;
    font-family: "RobotoLight";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    p {
      padding-bottom: 20px;
    }
  }
  .item {
    margin: 5px 0;
    text-align: center;
    img {
      padding: 7px;
      border: 0;
      border-radius: 90%;
    }
    img.globus:hover {
      padding: 0;
      border: 7px solid #d55393;
      border-radius: 90%;
    }
    img.biblie:hover {
      padding: 0;
      border: 7px solid #eac214;
      border-radius: 90%;
    }
    img.pallete:hover {
      padding: 0;
      border: 7px solid #2b8715;
      border-radius: 90%;
    }
    img.cherry:hover {
      padding: 0;
      border: 7px solid #1a69be;
      border-radius: 90%;
    }
    img.bus:hover {
      padding: 0;
      border: 7px solid #f05a2c;
      border-radius: 90%;
    }
    .title {
      color: #76a809;
      font-family: RobotoBold;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 0;
      margin-top: 16px;
    } 
    .text {
      color: #2c2c2c;
      font-family: "RobotoLight";
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}
.groups {
  margin: 39px 0 44px;
  .title {
    color: #76a809;
    font-family: "Bookman Old Style";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 13px;
  }
  .text {
    text-align: center;
    color: #2c2c2c;
    font-family: "Roboto Light";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 40px;
  }
  .item {
    line-height: 24px;
    img {
      width: 100%;
    }
    .type {
      text-align: center;
      font-family: "RobotoMedium";
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .name {
      text-align: center;
      font-family: RobotoBold;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .age {
      text-align: center;
      color: #2c2c2c;
      font-family: "RobotoLight";
      font-size: 16px;
      font-weight: 400;
    }
    .groupe1 {
      color: #e4a701;
    }
    .groupe2 {
      color: #83b419;
    }
    .groupe3 {
      color: #d55393;
    }
    .groupe4 {
      color: #53bbd5;
    }
  }
}
.attension {
  .bg_gray {
    background-color: #f6f6f6;
    line-height: 22px;
  }
  .title {
    color: #53bbd5;
    font-family: "RobotoMedium";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 27px;
    padding-top: 20px;
  }
  .text {
    color: #535353;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 19px;
  }
}
.photo {
  .title {
    color: #76a809;
    font-family: "BookmanOldStyle";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 29px;
  }
  .item {
    height: 190px;
    width: 265px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;

    img {
      border-radius: 10px;
      height: 190px;
      width: 266px;
      transition: height 1s ease;
    }
    img:hover {
      transform: scale(1.05);
      border-radius: 28px;
    }
  }
  .owl-nav {
    float: right;
    margin-top: 40px;

    .owl-prev, .owl-next {
      background-color: #e9af00;
      float: right;
      color: #fff;
      border-radius: 90%;
      width: 32px;
      height: 32px;
      display: block;
      position: relative;
      i.fa-chevron-right {
        position: absolute;
        top: 9px;
        left: 12px;
        font-size: 15px;
      }
      i.fa-chevron-left {
        position: absolute;
        top: 9px;
        left: 10px;
        font-size: 15px;
      }
    }
  }
  .see_all {
    text-align: center;
    margin-top: 46px;
    margin-bottom: 45px;
    a {
      color: white;
      font-family: RobotoBold;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      background-color: #e9bd00;
      padding: 6px 31px;
      border-radius: 5px;
    }
    a:hover {
      background-color: #e9af00;
    }
  }
}
.new_articls {
  .title {
    color: #76a809;
    font-family: "BookmanOldStyle";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 17px;
    margin-bottom: 28px;
  }
  .article {
    .wrap{
      background-color: rgba(0,0,0,.04);
      border-radius: 0 0 10px 10px;
      padding: 5px;
    }
    &:hover .wrap {
      border-radius: 0;
    }
    &:hover .img_wrap {
      height: 182px;
      overflow: hidden;
      transition: all .5s ease;
    }
    &:hover .text {
      //display: block;
      opacity:1;
      transition: all .5s ease;
      border-radius: 0 0 10px 10px;
    }
    .img_wrap {
      height: 254px;
      img {
        border-radius: 10px 10px 0 0;
        width: 100%;
      }
    }
    .title {
      color: #689800;
      font-family: "RobotoMedium";
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 17px;
      padding-bottom: 28px;
    }
    .data {
      color: #b5b5b5;
      font-family: RobotoBold;
      font-size: 12px;
      font-weight: 400;
      line-height: 22px;
      display: inline;
    }
    .views {
      color: #b5b5b5;
      font-family: RobotoBold;
      font-size: 12px;
      font-weight: 400;
      float: right;
    }
    .text {
      color: #2c2c2c;
      font-family: "RobotoLight";
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      opacity:0;
      //display: none;
      background-color: rgba(0,0,0,.04);
      padding: 5px
    }
  }
  .show_all_articls {
    text-align: center;
    margin-top: -20px;
    a {
      color: white;
      font-family: RobotoBold;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      background-color: #e9bd00;
      padding: 7px 42px;
      border-radius: 10px;
    }
  }
}
.footer {
  background-image: url("../images/bg_footer.png");
  div[class*="col15-md"] {
    padding: 0;
  }
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
      a {
        font-family: RobotoRegular;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        color: #555;
      }
    }
  }
  .wrapp {
    margin-top: 30px;
    background-color: #FFF;
    border-radius: 10px;
    display: block;
    margin-top: 132px;
    padding-top: 21px;
    margin-bottom: 50px;
    .logo {
      padding-right: 5px;
      padding-left: 5px;
      img {
        width: 100%;
      }
      .copy {
        color: #6a6a6a;
        font-family: "RobotoLight";
        font-size: 11px;
        font-weight: 400;
        line-height: 14px;
      }
      .siteprosto {
        font-size: 11px;
        color: dimgrey;
        font-family: "RobotoLight";
        font-weight: 400;
        span {
          color: #6a9a01;
          font-family: RobotoBold;
          font-weight: 700;
        }
      }
    }
    .about {
      .title  {
        font-family: RobotoRegular;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        color: #72a600;
      }
    }
    .subscription {
      .title {
        color: #555;
        font-family: RobotoBold;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
      }
      .want {
        color: #6b6b6b;
        font-family: "RobotoLight";
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
      }
      form {

          //margin-top: 40px;
          display: block;
          input {
            background-color: transparent;
            height: 30px;
            border: 0;
            border-bottom: 1px solid #d0d0d0;
            min-width: 170px;
            color: #6b6b6b;
            &:-moz-placeholder {
              color: #d0d0d0;
              color: #bbb;
              font-family: RobotoBold;
              font-size: 12px;
              font-weight: 300;
              font-style: italic;
            }
            &::-webkit-input-placeholder {
              color: #d0d0d0;
              color: #bbb;
              font-family: RobotoBold;
              font-size: 12px;
              font-weight: 300;
              font-style: italic;
            }
            &:focus {
              outline: none; 
            }
          }
          button {
            height: 30px;
            border: 0;
            background-color: transparent;
            margin-left: -4px;
            //float: right;
          }
        }
      }
    }
    .contacts {
      a {
        color: #2c2c2c;
        font-family: "RobotoLight";
        font-size: 14px;
        font-weight: 400;
        text-transform: none;
        img {
          margin-right: 5px;
        }
        
      }
    }
  }
//////////////////////////////////////////////////////
//479px & lower
@media (max-width: $screen-xs) { 
} 
//479px & lower
@media (max-width: 556px) { 
  .top_line .logo img {
    width: 90% !important;
  }
} 
//767px & lower
@media (max-width: $screen-sm) { 
  body .wrapper_header header .navbar-default .navbar-collapse {
    margin-top: 12px !important;
    border-top: 0;
    box-shadow: none; 
  }
} 
//991px & lower
@media (max-width: $screen-md) { 
  body .wrapper_header header .top_line .logo img {
    padding-right: 32px;
  }
  body .wrapper_header header .navbar-default button {
    margin-top: -77px;

  } 
} 
//1199px & lower
@media (max-width: $screen-lg) { 
    ///////////////////////////////////////
    .navbar-default {
      height: 0 !important;
      margin-top: 0 !important;
    }
    .navbar {
      min-height: 0 !important;
    }
    .navbar-header {
      float: none;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-collapse.collapse.in{
      display:block !important;
    }
  ///////////////////////////////////////
  #mail {
    margin-right: 12px !important;
  }
  .navbar-nav  li  a {
    margin-left: 12px;
  }
} 